{% extends 'global_layout.html' %}

{% block content_body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Inventory
        <small>71 total</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Inventory</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <!-- /.box -->

          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Summary</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Host Name</th>
                  <th>Region</th>
                  <th>IP</th>
                  <th>Environment</th>
                  <th>Applications</th>
                  <th>Services</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>abc</td>
                    <td>U.S.-West</td>
                    <td>192.162.0.1</td>
                    <td><span class="label label-warning">Pending</span></td>
                    <td><a href="host_applications.html" target="_blank">View Applications</a></td>
                    <td><a href="host_services.html" target="_blank">View Services</a></td>
                  </tr>
                  <tr>
                    <td>xyz</td>
                    <td>U.S.-East</td>
                    <td>192.162.0.1</td>
                    <td><span class="label label-primary">Approved</span></td>
                    <td><a href="host_applications.html" target="_blank">View Applications</a></td>
                    <td><a href="host_services.html" target="_blank">View Services</a></td>
                  </tr>
                  <tr>
                    <td>qwe</td>
                    <td>U.S.-East</td>
                    <td>192.162.0.1</td>
                    <td><span class="label label-primary">Approved</span></td>
                    <td><a href="host_applications.html" target="_blank">View Applications</a></td>
                    <td><a href="host_services.html" target="_blank">View Services</a></td>
                  </tr>
                  <tr>
                    <td>asd</td>
                    <td>U.S.-East</td>
                    <td>192.162.0.1</td>
                    <td><span class="label label-danger">Denied</span></td>
                    <td><a href="host_applications.html" target="_blank">View Applications</a></td>
                    <td><a href="host_services.html" target="_blank">View Services</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% endblock %}
