{% extends "global_layout.html" %}
{% block content_body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    {% if edit %}
    <h1>
      Edit API Check
    </h1>
    {% elif view %}
    <h1>
      Api Check details
    </h1>
    {% else %}
    <h1>
      Add Api Check
    </h1>
    {% endif %}
    {% if org and project %}
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Organisation</a></li>
      <li><a href="#">{{project.organisation.name}}</a></li>
      <li class="active">{{project}}</li>
      {% if view or edit %}
      <li>{{apichecks.api_name}}</li>
      {% else %}
      <li>Add Api Check</li>
      {% endif %}
    </ol>
    {% else %}
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Inventory</a></li>
      <li><a href="#">Region</a></li>
      <li class="active">Add Region</li>
    </ol>
    {% endif %}
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-danger">
          <div class="box-header with-border">
            {% if view or edit %}
            <h3 class="box-title">{{ apichecks.api_name|upper}}</h3>
            {%else%}
            <h3 class="box-title"></h3>
            {% endif %}
            {% if view %}
            <a href="{% url 'apichecks_edit' org=org.id project=project.id apichecks=apichecks.id %}" class="pull-right create-project  btn-create"><i class="glyphicon glyphicon-plus pdr10"></i>Edit API Check info</a>
            {% endif %}
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" method="post" action="{% if edit %} {% url 'apichecks_edit' org=org.id project=project.id apichecks=apichecks.id %} {% elif org and project.id %}{% url 'apichecks_create'  org=org project=project.id %} {% else %} {% url 'apichecks_create' %} {% endif %}">
            {% csrf_token %}
            <div class="box-body">
              <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Name</label>

                <div class="col-sm-9">
                  <input type="text" class="form-control" id="name" placeholder="Name" name="api_name" value="{% if form.api_name.value %} {{form.api_name.value}} {% endif %}" {% if view %} disabled="True" {% endif %}>
                </div>
              </div>

              <div class="form-group">
                <label for="url" class="col-sm-3 control-label">API URL</label>

                <div class="col-sm-9">
                  <input type="text" class="form-control" id="url" placeholder="URL" name="api_url" value="{% if form.api_url.value %} {{form.api_url.value}} {% endif %}" {% if view %} disabled="True" {% endif %} >
                </div>
              </div>

              <div class="form-group">
                <label for="secure" class="col-sm-3 control-label">API Url Secure</label>

                <div class="col-sm-9">
                  <input type="checkbox" name="api_url_secure" {% if form.api_url_secure.value %} checked {% endif %} {% if view %} disabled="True" {% endif %}>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Environment</label>
                <div class="col-sm-9">
                  <select class="form-control" name="env" {% if view %} disabled="True" {% endif %}>
                    {% for eid,ename in form.fields.env.choices %}
                   <option value="{{ eid }}" {% if eid in form.env.value  %} selected {% endif %}>{{ename}}</option>
                 {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Project</label>
                <div class="col-sm-9">
                  <select class="form-control" {% if org and project.id %}  name="project1" disabled {% else %}  name="project" {%endif%} {% if view %} disabled="True" {% endif %}>
                    {% if org and project.id %}
                      <option value="{{ project.id }}" selected >{{project.name}}</option>
                    {%else%}
                      {% for pid,pname in form.fields.project.choices %}
                        <option value="{{ pid }}" >{{pname}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                   {% if org and project.id %}
                  <select class="form-control"  name="project" style="display:none;">
                      <option value="{{ project.id }}" selected >{{project.name}}</option>

                  </select>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Request Type</label>
                <div class="col-sm-9">
                  <select class="form-control" name="request_type" {% if view %} disabled="True" {% endif %}>
                    {% for rtid,rtname in form.fields.request_type.choices %}
                    <option value="{{ rtid }}" {% if rtid in form.env.value  %} selected {% endif %}>{{rtname}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <h3>Request Info</h3>

              <div class="form-group">
                <label class="col-sm-3 control-label">Request Headers</label>
                <div class="col-sm-9">
                  <textarea name="request_headers" {% if view %} disabled="True" {% endif %}  >{% if form.request_headers.value %} {{form.request_headers.value}} {% endif %}</textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Request Payload</label>
                <div class="col-sm-9">
                  <textarea name="request_payload" {% if view %} disabled="True" {% endif %} >{% if form.request_payload.value %} {{form.request_payload.value}} {% endif %}</textarea>
                </div>
              </div>


            </div>
            <!-- /.box-body -->
            {% if edit %}
            <div class="box-footer">
              <button type="submit" class="pull-right save">Update</button>
            </div>
            {% elif not view %}
            <div class="box-footer">
              <button type="submit" class="pull-right save">Create</button>
            </div>
            {% endif %}
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->
      </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
