{% extends "global_layout.html" %}
{% block content_body %}
<!-- Content Wrapper. Contains page content -->
<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('apichecks_selected');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
  check()
}
function check(){
  checkboxes =document.getElementsByName('apichecks_selected');
  var result=true
  for(var i=0;i<checkboxes.length;i++)
  {
    if(checkboxes[i].checked){
      result=false;
      break;
    }

  }
  document.getElementById('delete').disabled=result
}
</script>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Monitoring - <small> API_checks </small>
    </h1>
    <ol class="breadcrumb">
      <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Monitoring</a></li>
      <li class="active">API_checks</li>
    </ol>
  </section>
  <form method="post" action="{% url 'apichecks_delete' %}">
    {% csrf_token %}
  <!-- Main content -->
  <section class="content">

     <div class="row">
      <div class="col-xs-12">
        <div class="box box-success">
          <div class="box-header">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
              <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
            <br>
            <br>
              <div>
                <a href={% if org and project.id %}"{% url 'apichecks_create'  org=org project=project.id %}" {% else %} "{% url 'apichecks_create' %}" {% endif %}class="pull-right btn-create"><i class="glyphicon glyphicon-plus pdr10"></i>Create a new Api Check</a>
              </div>
            <div class="mailbox-controls mgt10">
              <!-- Check all button -->

              <div class="btn-group">
                <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-default btn-sm" id='delete' disabled><i class="fa fa-trash-o"></i></button>
              </div>
              <!-- /.btn-group -->
              <!-- /.pull-right -->
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th class="check"><input type="checkbox" onClick="toggle(this)"></th>
                <th>Name</th>
                <th>URL</th>
                <th>Environment</th>
                <th>Project</th>
                <th>Request Type</th>
                <th>Is Secure</th>
                <th>Updated At</th>
              </tr>
              {% for apicheck in apichecks %}
              <tr>
                <td class="check"><input type="checkbox" name="apichecks_selected" value="{{ apicheck.id }}" onclick="check()"></td>
                <td><a href="{% url 'apichecks_view' org=apicheck.project.organisation.id project=apicheck.project.id apichecks=apicheck.id %}">{{apicheck.api_name|capfirst}}</a></td>
                <td>{{apicheck.api_url}}</td>
                <td>{{apicheck.env|capfirst}}</td>
                <td><a href="{% url 'project_view' org=apicheck.project.organisation.id project=apicheck.project.id %}">{{apicheck.project}}</a></td>
                <td>{{apicheck.request_type}}</td>
                <td>{{apicheck.api_url_secure}}
                <td>{{apicheck.updated_at}}</td>
                <!-- <td><a href="#"><i class="glyphicon glyphicon-pencil"></i></a></td> -->
              </tr>
              {% endfor %}
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>


    <div class="pull-right">
      <div class="btn-group">
        {% if apichecks.has_previous %}
          <a href="?page={{ apichecks.previous_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button></a>
        {% endif %}
        <span class="current">
            Page {{ apichecks.number }} of {{ apichecks.paginator.num_pages }}.
        </span>
        {% if apichecks.has_next %}
          <a href="?page={{ apichecks.next_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button></a>
        {% endif %}

      </div>
      <!-- /.btn-group -->
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
