{% extends 'global_layout.html' %}

{% block content_body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {% if view %}
      Details Cron Check
      {% elif edit %}
      Edit Cron Check
      {% else %}
      Add Cron Check
      {% endif %}
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Monitoring</a></li>
      <li><a href="{% url 'cron_list' %}">Cron_checks</a></li>
      {% if view %}
      <li class="active"><a href="{% url 'cron_view' cron.guid %}">View Cron</a></li>
      {% elif edit %}
      <li class="active"><a href="{% url 'cron_edit' cron.guid %}">Edit Cron</a></li>
      {% else %}
      <li class="active"><a href="{% url 'cron_create' %}">Add Cron</a></li>
      {% endif %}
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-danger">
          <div class="box-header with-border">
            {% if view or edit %}
              <h3 class="box-title">{{cron.name}}</h3>
            {% else %}
              <h3 class="box-title">Add Cron Check</h3>
            {% endif %}

            {% if view %}
            <a href="{% url 'cron_edit' cron.guid %}" class="pull-right create-project btn-create"><i class="glyphicon glyphicon-pencil pdr10"></i>Edit Cron info</a>
            {% endif %}
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="{% if edit %} {% url 'cron_edit' cron.guid %} {% else %} {% url 'cron_create' %} {% endif %}" method="post">
            {% csrf_token %}
            <div class="box-body">
              <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                  <input {% if form.name.errors %} style="border:1px solid #ff0000" placeholder="Please enter name" {% else %} placeholder="Name" {%endif%} type="text" class="form-control" id="name"  name="name" value="{% if form.name.value %} {{form.name.value}} {% endif %}" {% if view %} disabled="True" {% endif %}>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Project</label>
                <div class="col-sm-9">
                  <select {% if form.project.errors %} style="border:1px solid #ff0000" {% endif %} class="form-control" id="project" name="project" {% if view %} disabled="true" {% endif %} required>
                    {% for pid,pname in form.fields.project.choices %}
                      <option value="{{pid}}" {% if form.project.value == pid or form.project.value == pid|slugify %} selected {% endif %}>{{pname}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="cron_defination" class="col-sm-3 control-label">Cron Defination</label>
                <div class="col-sm-9">
                  <input {% if form.cron_defination.errors %} style="border:1px solid #ff0000;" placeholder="Please enter cron defination" {% else %} placeholder="Cron Defination" {% endif %} type="text" class="form-control" id="cron_defination" name="cron_defination" value="{% if form.cron_defination.value %} {{form.cron_defination.value}} {% endif %}" {% if view %} disabled="true" {% endif %}>
                </div>
              </div>

              {% if view %}
              <div class="form-group">
                <label for="cronhook_target_url" class="col-sm-3 control-label">Cronhook target Url</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="cronhook_target_url" name="cronhook_target_url" placeholder="Cron target URL" value="{{cron.cronhook_target_url}}" disabled="true">
                </div>
              </div>
              {% endif %}

              <div class="form-group">
                <label for="bracktracking_depth" class="col-sm-3 control-label">Backtracking Depth</label>
                <div class="col-sm-9">
                  <input {% if form.bracktracking_depth.errors %} style="border:1px solid #ff0000;" placeholder="Please enter backtracking depth" {% else %} placeholder="Backtracking Depth" {% endif %} type="text" class="form-control" id="bracktracking_depth" name="bracktracking_depth" value="{% if form.bracktracking_depth.value %} {{form.bracktracking_depth.value}} {% endif %}" {% if view %} disabled="true" {% endif %}>
                </div>
              </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              {% if edit %}
              <button type="submit" class="pull-right save">Update</button>
              {% elif not view %}
              <button type="submit" class="pull-right save">Create</button>
              {% endif %}
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->
      </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
{% endblock   %}