{% extends "global_layout.html" %}

{% block content_body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {% if view %}
      View Item
      {% elif edit %}
      Edit Item
      {% else %}
      Add Item
      {% endif %}
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Monitoring</a></li>
      <li><a href="{% url 'item_list' %}">Items</a></li>
      {% if view %}
      <li class="active"><a href="{% url 'item_view' item.id %}">View Item</a></li>
      {% elif edit %}
      <li class="active"><a href="{% url 'item_edit' item.id %}">Edit Item</a></li>
      {% else %}
      <li class="active"><a href="{% url 'item_create' %}">Add Item</a></li>
      {% endif %}
    </ol>
  </section>
    <section class="item-content">
      <div class="row">
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-danger">
            <div class="box-header with-border">
              {% if view or edit %}
                <h3 class="box-title">{{item.name}}</h3>
              {% else %}
                <h3 class="box-title">Add Item</h3>
              {% endif %}

              {% if view %}
                <a href="{% url 'item_edit' item.id %}" class="pull-right create-project btn-create"><i class="glyphicon glyphicon-pencil pdr10"></i>Edit Item info</a>
              {% endif %}
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{% if edit %} {% url 'item_edit' item.id %} {% else %} {% url 'item_create' %} {% endif %}" method="post">
            {% csrf_token %}
            <div class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="name" class="col-sm-3 control-label">Name</label>
                  <div class="col-sm-9">
                  <input {% if form.name.errors %} style="border:1px solid #ff0000" placeholder="Please enter name" {% else %} placeholder="Name" {% endif %} type="text" class="form-control" id="name"  name="name" value="{% if form.name.value %}{{form.name.value}}{% endif %}" {% if view %} disabled="True" {% endif %}>
                </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Project</label>
                  <div class="col-sm-9">
                    <select {% if form.project.errors %} style="border:1px solid #ff0000" {% endif %} class="form-control" id="project" name="project" {% if view %} disabled="true" {% endif %} required onchange="this.form.submit()">
                    {% for pid,pname in form.fields.project.choices %}
                      <option value="{{pid}}" {% if form.project.value == pid or form.project.value == pid|slugify %} selected {% endif %}>{{pname}}</option>
                    {% endfor %}
                  </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="key" class="col-sm-3 control-label">Key</label>
                  <div class="col-sm-9">
                    <input {% if form.key.errors %} style="border:1px solid #ff0000" placeholder="Please enter key" {% else %} placeholder="Key" {% endif %} type="text" class="form-control" id="key"  name="key" value="{% if form.key.value %}{{form.key.value}}{% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Type</label>
                  <div class="col-sm-9">
                    <select {% if form.Type.errors %} style="border:1px solid #ff0000" {% endif %} class="form-control" id="Type" name="Type" {% if view %} disabled="true" {% endif %} required onchange="this.form.submit()">
                    {% for tid,tname in form.fields.Type.choices %}
                      <option value="{{tid}}" {% if form.Type.value == tid %} selected {% endif %}>{{tname}}</option>
                    {% endfor %}
                  </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="refresh_interval" class="col-sm-3 control-label">Refresh interval in seconds</label>
                  <div class="col-sm-9">
                    <input {% if form.refresh_interval_in_seconds.errors %} style="border:1px solid #ff0000" placeholder="Please enter Refresh Interval in seconds" {% else %} placeholder="Refresh Interval in seconds" {% endif %} type="text" class="form-control" id="refresh_interval_in_seconds"  name="refresh_interval_in_seconds" value="{% if form.refresh_interval_in_seconds.value %}{{form.refresh_interval_in_seconds.value}}{% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="scenario_counter" class="col-sm-3 control-label">Scenario Counter</label>
                  <div class="col-sm-9">
                    <input {% if form.scenario_counter.errors %} style="border:1px solid #ff0000" placeholder="Please enter Scenario Counter" {% else %} placeholder="Scenario Counter" {% endif %} type="text" class="form-control" id="scenario_counter"  name="scenario_counter" value="{% if form.scenario_counter.value %}{{form.scenario_counter.value}}{% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="is_active" class="col-sm-3 control-label">Is Active</label>
                  <div class="col-sm-9">
                    <input type="checkbox" id="is_active" name="is_active" {% if form.is_active.value %} checked {% endif %} {% if view %} disabled="true" {% endif %}>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>

    {% if form.project.value %}
      {% if form.Type.value == 'Cloudwatch-CPU' or form.Type.value == 'Cloudwatch-Memory' or form.Type.value == 'Cloudwatch-Disk' %}
        <section class="item-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Horizontal Form -->
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Host</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label class="col-sm-3 control-label">Host</label>
                      <div class="col-sm-9">
                        {% if form.fields.host.choices|length %}
                          <select multiple="multiple" {% if form.fields.host.choices|length %} size="10" {% else %} size="1" {% endif %} name="host" id="host" {% if view %} disabled="true" {% endif %} required="true">
                            {% for hid,hname in form.fields.host.choices %}
                              <option value="{{hid}}" {% if hid in form.host.value or hid|slugify in form.host.value %} selected="true" {% endif %}>{{hname}}</option>
                            {% endfor %}
                          </select>
                        {% else %}
                          <label>No Host found.</label>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.box -->
            </div>
          </div>
          <!-- /.row -->
        </section>
      {% endif %}

      {% if form.Type.value == 'Application' %}
        <section class="item-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Horizontal Form -->
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Application</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label class="col-sm-3 control-label">Application</label>
                      <div class="col-sm-9">
                        {% if form.fields.application.choices|length %}
                          <select multiple="multiple" {% if form.fields.application.choices|length %} size="10" {% else %} size="1" {% endif %} name="application" id="application" {% if view %} disabled="true" {% endif %} required="true">
                          {% for aid,aname in form.fields.application.choices %}
                            <option value="{{aid}}" {% if aid in form.application.value or aid|slugify in form.application.value %} selected="true" {% endif %}>{{aname}}</option>
                          {% endfor %}
                          </select>
                        {% else %}
                          <label>No Applications found.</label>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.box -->
            </div>
          </div>
          <!-- /.row -->
        </section>
      {% endif %}

      {% if form.Type.value == 'API check' %}
        <section class="item-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Horizontal Form -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">API Checks</h3>
                </div>
                <!-- /.box-header -->
                <div class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">API Checks</label>
                      <div class="col-sm-9">
                        {% if form.fields.api_check.choices|length > 1 %}
                          <select class="form-control" name="api_check" id="api_check" required="true" {% if view %} disabled="true" {% endif %} required="true">
                            {% for aid,aname in form.fields.api_check.choices %}
                              <option value="{{aid}}" {% if form.api_check.value == aid or form.api_check.value == aid|slugify %} selected="true" {% endif %}>{{aname}}</option>
                            {% endfor %}
                          </select>
                        {% else %}
                          <label>No Api Checks Found.</label>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
            </div>
          </div>
          <!-- /.row -->
        </section>
      {% endif %}

      {% if form.Type.value == 'Cron' %}
        <section class="item-content">
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Cron Checks</h3>
                </div>
                <div class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Cron Checks</label>
                      <div class="col-sm-9">
                        {% if form.fields.cron_check.choices|length > 1 %}
                          <select class="form-control" name="cron_check" id="cron_check" required="true" {% if view %} disabled="true" {% endif %}>
                            {% for cid,cname in form.fields.cron_check.choices %}
                              <option value="{{cid}}" {% if form.cron_check.value == cid or form.cron_check.value == cid|slugify %} selected="true" {% endif %}>{{cname}}</option>
                            {% endfor %}
                          </select>
                        {% else %}
                          <label>No Cron Checks found.</label>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}

      {% if form.Type.value == 'Service' %}
        <section class="item-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Horizontal Form -->
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Service</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label class="col-sm-3 control-label">Service</label>
                      <div class="col-sm-9">
                        {% if form.fields.service.choices|length %}
                          <select multiple="multiple" {% if form.fields.service.choices|length %} size="10" {% else %} size="1" {% endif %} name="service" id="service" {% if view %} disabled="true" {% endif %} required="true">
                            {% for sid,sname in form.fields.service.choices %}
                              <option value="{{sid}}" {% if sid in form.service.value or sid|slugify in form.service.value %} selected="true" {% endif %}>{{sname}}</option>
                            {% endfor %}
                          </select>
                        {% else %}
                          <label>No Services Found.</label>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
              </form>
            </div>
          </div>
          <!-- /.row -->
        </section>
      {% endif %}
    {% endif %}

    <div class="box-footer">
      {% if edit %}
      <input type="submit" name="Update" class="pull-right save" value="Update">
      {% elif not view %}
      <input type="submit" name="Create" class="pull-right save" value="Create">
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}