{% extends "global_layout.html" %}

{% block content_body %}
<script language="JavaScript">
  function toggle(source) {
    checkboxes = document.getElementsByName('item_selected');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
    check();
  }
  function getUrlVars() {
      var vars = {};
      var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
              function (m, key, value) {
                  vars[key] = value;
              });
      return vars;
  }
  function filterOnProject(source) {
    var params = getUrlVars();
    params['project'] = source.value;
    window.location.href = window.location.href.split("?")[0] + "?" + $.param(params);
  }
  function changePage(page) {
    var params = getUrlVars();
    params['page'] = page;
    window.location.href = window.location.href.split("?")[0] + "?" + $.param(params);
  }
  function check(){
    checkboxes =document.getElementsByName('item_selected');
    var result=true
    for(var i=0;i<checkboxes.length;i++)
    {
      if(checkboxes[i].checked){
        result=false;
        break;
      }

    }
    document.getElementById('delete').disabled=result
  }
</script>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Monitoring - <small> Items </small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Monitoring</a></li>
      <li class="active"><a href="{% url 'item_list' %}">Items</a></li>
    </ol>
  </section>

  <form method="post" action="{% url 'item_delete' %}">
    {% csrf_token %}
    <!-- Main content -->
    <section class="content">

       <div class="row">
        <div class="col-xs-12">
          <div class="box box-success">
            <div class="box-header">
              <h3 class="box-title"></h3>

              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>

              <div class="mailbox-controls mgt10">
                <!-- Check all button -->

                <div class="btn-group">
                  <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-default btn-sm" id='delete' disabled><i class="fa fa-trash-o"></i></button>
                </div>
                <!-- /.btn-group -->
                <select name="project" onchange="filterOnProject(this)" title="Filter by Project">
                  <option value="">----Select Project----</option>
                  {% for project in projects %}
                    <option value="{{project.id}}" {% if request.GET.project == project.id|slugify %} selected {% endif %}>{{project.name}}</option>
                  {% endfor %}
                </select>
                <div class="pull-right">
                  <div class="col-xs-12">
                    <a href="{% url 'item_create' %}" class="pull-right btn-create"><i class="glyphicon glyphicon-plus pdr10"></i>Add Item</a>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th class="check"><input type="checkbox" onclick="toggle(this)"></th>
                  <th>Name</th>
                  <th>Project</th>
                  <th>Key</th>
                  <th>Type</th>
                  <th>Is Active</th>
                </tr>
                {% for item in items %}
                  <tr>
                    <td class="check"><input type="checkbox" value="{{item.id}}" name="item_selected" onclick="check()"></td>
                    <td><a href="{% url 'item_view' item.id %}">{{item.name}}</a></td>
                    <td><a href="{% url 'project_view' item.project.organisation.id item.project.id %}">{{item.project}}</a></td>
                    <td>{{item.key}}</td>
                    <td>{{item.Type}}</td>
                    {% if item.is_active %}
                      <td><span class="label label-success">Active</span></td>
                    {% else %}
                      <td><span class="label label-danger">Inactive</span></td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

      <div class="row">
        <div class="pull-right">
          <div class="btn-group">
            {% if items.has_previous %}
              <a href="#" onclick="changePage('{{ items.previous_page_number }}')"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button></a>
            {% endif %}
            <span class="current">
                Page {{ items.number }} of {{ items.paginator.num_pages }}.
            </span>
            {% if items.has_next %}
              <a href="#" onclick="changePage('{{items.next_page_number}}')"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button></a>
            {% endif %}

          </div>
        </div>
      </div>

    </section>
  </form>
  <!-- /.content -->
</div>
{% endblock %}
