{% extends "global_layout.html" %}
    {% block content_body %}
<!-- Content Wrapper. Contains page content -->
<script language="JavaScript">
  function toggle(source) {
    scenario_check = document.getElementsByName('scenario_list');
    for(i = 0; i < scenario_check.length; i++)
        scenario_check[i].checked = source.checked;
    check();
  }
  function check(){
    checkboxes =document.getElementsByName('scenario_list');
    var result=true
    for(var i=0;i<checkboxes.length;i++)
    {
      if(checkboxes[i].checked){
        result=false;
        break;
      }

    }
    document.getElementById('delete').disabled=result
  }
</script>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Monitoring - <small> Scenarios </small>
    </h1>
    <ol class="breadcrumb">
      <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Monitoring</a></li>
      <li class="active">Scenarios</li>
    </ol>
  </section>
<form method="post" action="{% url 'scenarios_delete' %}">
  {% csrf_token %}
  <!-- Main content -->
  <section class="content">

     <div class="row">
      <div class="col-xs-12">
        <div class="box box-success">
          <div class="box-header">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
              <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
            <br>
            <br>
            <div>
              <a href={% if org and project %}"{% url 'scenarios_create'  org=org project=project.id %}" {% else %} "{% url 'scenarios_create' %}" {% endif %}class="pull-right btn-create"><i class="glyphicon glyphicon-plus pdr10"></i>Create a new Scenario Check</a>
            </div>
            <div class="mailbox-controls mgt10">
              <!-- Check all button -->

              <div class="btn-group">
              <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-default btn-sm" id='delete' disabled><i class="fa fa-trash-o"></i></button>
              </div>
              <!-- /.btn-group -->
            </div>

          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th class="check"><input type="checkbox" onClick="toggle(this)"></th>
                <th>Name</th>
                <th>Item</th>
                <th>Trigger</th>
                <th>Condition</th>
                <th>Value to be compared with</th>
                <th>Number of subsequent tries after which scenario triggers</th>
              </tr>
              {% for scenario in scenario_list %}
              <tr>
                <td class="check"><input type="checkbox" name="scenario_list" id="scenario_list" value="{{ scenario.id }}" onclick="check()"></td>
                <td><a href="{% url 'scenarios_view' org=scenario.Item.project.organisation.id project=scenario.Item.project.id scenario=scenario.id %}">{{ scenario.name }}</a></td>
                <td>{{ scenario.Item }}</td>
                <td>{{ scenario.trigger }}</td>
                <td>{{ scenario.condition }}</td>
                <td>{{ scenario.value_to_be_compared_with }}</td>
                <td>{{ scenario.number_of_subsequent_tries_after_which_scenario_triggers }}
                <!-- <td><a href="#"><i class="glyphicon glyphicon-pencil"></i></a></td> -->
              </tr>
              {% endfor %}
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>


    <div>
      <!-- /.btn-group -->
    </div>
    <div class="pull-right">
      <div class="btn-group">
        {% if scenario_list.has_previous %}
          <a href="?page={{ scenario_list.previous_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button></a>
        {% endif %}
        <span class="current">
            Page {{ scenario_list.number }} of {{ scenario_list.paginator.num_pages }}.
        </span>
        {% if scenario_list.has_next %}
          <a href="?page={{ scenario_list.next_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button></a>
        {% endif %}

      </div>
      <!-- /.btn-group -->
    </div>

  </section>
</form>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
