{% extends 'global_layout.html' %}

{% block content_body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {% if edit %}
            Edit Scenario
        {% elif view %}
            View Scenario
        {% else %}
            Create Scenario
        {% endif %}
      </h1>
      {% if org and project %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Organisation</a></li>
        <li><a href="#">{{project.organisation.name}}</a></li>
        <li class="active">{{project}}</li>
        {% if view or edit %}
        <li>{{scenarios.name}}</li>
        {% else %}
        <li>Add Scenario</li>
        {% endif %}
      </ol>
      {% else %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Monitor</a></li>
        <li><a href="#">Scenario</a></li>
        <li class="active">Add Scenario</li>
      </ol>
      {% endif %}
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">
                {% if edit or view %}
                  {{ scenarios.name|upper }}
                {% else %}
                  Add Scenarios
                {% endif %}
              </h3>
              {% if view %}
              <a href="{% url 'scenarios_edit' org=org project=project.id scenario=scenario.id %}" class="pull-right create-project  btn-create"><i class="glyphicon glyphicon-plus pdr10"></i>Edit Scenario info</a>
              {% endif %}
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            <form class="form-horizontal" method="post" action="{% if edit %} {% url 'scenarios_edit' org=org project=project.id scenario=scenario.id %} {% elif org and project %} {% url 'scenarios_create' org=org project=project %} {% else %} {% url 'scenarios_create' %}{% endif %}">
              {% csrf_token %}
              <div class="box-body">
                <div class="form-group">
                  <label for="name" class="col-sm-3 control-label">Name</label>

                  <div class="col-sm-9">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name" value="{% if form.name.value %} {{ form.name.value }} {% endif %}"  {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Item</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="Item" {% if view %} disabled="True" {% endif %}>
                      {% for item_id,item_name in form.fields.Item.choices %}
                      <option value="{{ item_id }}" {% if item_id == form.Item.value %} selected {% endif %}>{{ item_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Trigger</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="trigger" {% if view %} disabled="True" {% endif %}>
                      {% for trigger_id, trigger_name in form.fields.trigger.choices %}
                      <option value="{{ trigger_id }}" {% if trigger_id == form.trigger.value %} selected {% endif %}>{{ trigger_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Condition</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="condition" {% if view %} disabled="True" {% endif %}>
                      {% for condition_id, condition_name in form.fields.condition.choices%}
                      <option value="{{ condition_id }}" {% if condition_id == form.condition.value %} selected {% endif %}>{{ condition_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="value" class="col-sm-3 control-label">Value to be compared with</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="value_to_be_compared_with" id="value" placeholder="Value to be compared with" value="{% if form.value_to_be_compared_with.value %} {{ form.value_to_be_compared_with.value }} {% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="number_of_tries" class="col-sm-3 control-label">Number of subsequent tries after which scenario triggers</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="number_of_subsequent_tries_after_which_scenario_triggers" id="number_of_tries" placeholder="Number of subsequent tries after which scenario triggers" value="{% if form.number_of_subsequent_tries_after_which_scenario_triggers.value %} {{ form.number_of_subsequent_tries_after_which_scenario_triggers.value }} {% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>


              </div>
              <!-- /.box-body -->
              {% if edit %}
              <div class="box-footer">
                <button type="submit" class="pull-right save">Update</button>
              </div>
              {% elif not view %}
              <div class="box-footer">
                <button type="submit" class="pull-right save">Create</button>
              </div>
              {% endif %}
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
