{% extends "global_layout.html" %}

{% block content_body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {% if view %}
      View Action
      {% elif edit %}
      Edit Action
      {% else %}
      Add Action
      {% endif %}
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Notifications</a></li>
      <li><a href="{% url 'action_list' %}">Actions</a></li>
      {% if view %}
      <li class="active"><a href="{% url 'action_view' action.id %}">View Action</a></li>
      {% elif edit %}
      <li class="active"><a href="{% url 'action_edit' action.id %}">Edit Action</a></li>
      {% else %}
      <li class="active"><a href="{% url 'action_create' %}">Add Action</a></li>
      {% endif %}
    </ol>
  </section>
    <section class="item-content">
      <div class="row">
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-danger">
            <div class="box-header with-border">
              {% if view or edit %}
                <h3 class="box-title">{{action.name}}</h3>
              {% else %}
                <h3 class="box-title">Add Action</h3>
              {% endif %}

              {% if view %}
                <a href="{% url 'action_edit' action.id %}" class="pull-right create-project btn-create"><i class="glyphicon glyphicon-pencil pdr10"></i>Edit Action info</a>
              {% endif %}
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{% if edit %} {% url 'action_edit' action.id %} {% else %} {% url 'action_create' %} {% endif %}" method="post">
            {% csrf_token %}
            <div class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="name" class="col-sm-3 control-label">Name</label>
                  <div class="col-sm-9">
                    <input {% if form.name.errors %} style="border:1px solid #ff0000" placeholder="Please enter name" {% else %} placeholder="Name" {% endif %} type="text" class="form-control" id="name"  name="name" value="{% if form.name.value %}{{form.name.value}}{% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="Trigger_pager_duty_event" class="col-sm-3 control-label">Trigger pager duty event</label>
                  <div class="col-sm-9">
                    <input type="checkbox" id="Trigger_pager_duty_event" name="Trigger_pager_duty_event" {% if form.Trigger_pager_duty_event.value %} checked {% endif %} {% if view %} disabled="true" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="Trigger_sound_alarm" class="col-sm-3 control-label">Trigger sound alarm</label>
                  <div class="col-sm-9">
                    <input type="checkbox" id="Trigger_sound_alarm" name="Trigger_sound_alarm" {% if form.Trigger_sound_alarm.value %} checked {% endif %} {% if view %} disabled="true" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="Trigger_sms_alert" class="col-sm-3 control-label">Trigger sms alert</label>
                  <div class="col-sm-9">
                    <input type="checkbox" id="Trigger_sms_alert" name="Trigger_sms_alert" {% if form.Trigger_sms_alert.value %} checked {% endif %} {% if view %} disabled="true" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="Triger_email_alert" class="col-sm-3 control-label">Triger email alert</label>
                  <div class="col-sm-9">
                    <input type="checkbox" id="Triger_email_alert" name="Triger_email_alert" {% if form.Triger_email_alert.value %} checked {% endif %} {% if view %} disabled="true" {% endif %}>
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>

    <div class="box-footer">
      {% if edit %}
      <input type="submit" name="Update" class="pull-right save" value="Update">
      {% elif not view %}
      <input type="submit" name="Create" class="pull-right save" value="Create">
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}