{% extends "global_layout.html" %}
{% block content_body %}
<!-- Content Wrapper. Contains page content -->
<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('action_selected');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
  check();
}

function check(){
  checkboxes = document.getElementsByName('action_selected');
  var result = true;
  for(var i=0;i<checkboxes.length;i++){
    if(checkboxes[i].checked){
      result = false;
      break;
    }
  }
  document.getElementById('delete').disabled = result;
}
</script>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Notifications - <small> Actions </small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Notifications</a></li>
      <li class="active"><a href="{% url 'action_list' %}">Actions</a></li>
    </ol>
  </section>
  <form method="post" action="{% url 'action_delete' %}">
    {% csrf_token %}
  <!-- Main content -->
  <section class="content">

     <div class="row">
      <div class="col-xs-12">
        <div class="box box-success">
          <div class="box-header">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
              <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
            <br>
            <br>
              <div>
                <a href="{% url 'action_create' %}" class="pull-right btn-create"><i class="glyphicon glyphicon-plus pdr10"></i>Create a new Action</a>
              </div>
            <div class="mailbox-controls mgt10">
              <!-- Check all button -->

              <div class="btn-group">
                <button type="submit" id='delete' disabled class="btn btn-default btn-sm" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i></button>
              </div>
              <!-- /.btn-group -->
              <!-- /.pull-right -->
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th class="check"><input type="checkbox" onClick="toggle(this)"></th>
                <th>Name</th>
                <th>Pager Duty Event</th>
                <th>Sound Alarm</th>
                <th>Sms Alert</th>
                <th>Email Alert</th>
              </tr>
              {% for action in actions %}
              <tr>
                <td class="check"><input type="checkbox" name="action_selected" value="{{ action.id }}" onclick="check()"></td>
                <td><a href="{% url 'action_view' action.id %}">{{action.name}}</a></td>
                <td>{% if action.Trigger_pager_duty_event %}Yes{% else %}No{% endif %}</td>
                <td>{% if action.Trigger_sound_alarm %}Yes{% else %}No{% endif %}</td>
                <td>{% if action.Trigger_sms_alert %}Yes{% else %}No{% endif %}</td>
                <td>{% if action.Triger_email_alert %}Yes{% else %}No{% endif %}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>


    <div class="pull-right">
      <div class="btn-group">
        {% if actions.has_previous %}
          <a href="?page={{ actions.previous_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button></a>
        {% endif %}
        <span class="current">
            Page {{ actions.number }} of {{ actions.paginator.num_pages }}.
        </span>
        {% if actions.has_next %}
          <a href="?page={{ actions.next_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button></a>
        {% endif %}

      </div>
      <!-- /.btn-group -->
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
