{% extends "global_layout.html" %}
{% block content_body %}
<!-- Content Wrapper. Contains page content -->
<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('trigger_selected');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
  check();
}

function check(){
  checkboxes = document.getElementsByName('trigger_selected');
  var result = true;
  for(var i=0;i<checkboxes.length;i++){
    if(checkboxes[i].checked){
      result = false;
      break;
    }
  }
  document.getElementById('delete').disabled = result;
}
function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
            function (m, key, value) {
                vars[key] = value;
            });
    return vars;
}
function filterOnProject(source) {
  var params = getUrlVars();
  params['project'] = source.value;
  window.location.href = window.location.href.split("?")[0] + "?" + $.param(params);
}
function changePage(page) {
  var params = getUrlVars();
  params['page'] = page;
  window.location.href = window.location.href.split("?")[0] + "?" + $.param(params);
}
</script>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Notifications - <small> Triggers </small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Notifications</a></li>
      <li class="active"><a href="{% url 'trigger_list' %}">Triggers</a></li>
    </ol>
  </section>
  <form method="post" action="{% url 'trigger_delete' %}">
    {% csrf_token %}
  <!-- Main content -->
  <section class="content">

     <div class="row">
      <div class="col-xs-12">
        <div class="box box-success">
          <div class="box-header">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
              <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
            <br>
            <br>
              <div>
                <a href="{% url 'trigger_create' %}" class="pull-right btn-create"><i class="glyphicon glyphicon-plus pdr10"></i>Create a new Trigger</a>
              </div>
            <div class="mailbox-controls mgt10">
              <!-- Check all button -->

              <div class="btn-group">
                <button type="submit" id='delete' disabled class="btn btn-default btn-sm" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i></button>
              </div>
              <select name="project" onchange="filterOnProject(this)" title="Filter by Project">
                <option value="">----Select Project----</option>
                {% for project in projects %}
                  <option value="{{project.id}}" {% if request.GET.project == project.id|slugify %} selected {% endif %}>{{project.name}}</option>
                {% endfor %}
              </select>
              <!-- /.btn-group -->
              <!-- /.pull-right -->
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th class="check"><input type="checkbox" onClick="toggle(this)"></th>
                <th>Name</th>
                <th>Action</th>
                <th>Type</th>
                <th>Project</th>
                <th>Silence Interval</th>
              </tr>
              {% for trigger in triggers %}
              <tr>
                <td class="check"><input type="checkbox" name="trigger_selected" value="{{ trigger.id }}" onclick="check()"></td>
                <td><a href="{% url 'trigger_view' trigger.id %}">{{trigger.name}}</a></td>
                <td><a href="{% url 'action_view' trigger.Action.id %}">{{trigger.Action}}</a></td>
                <td>{{trigger.Type}}</td>
                <td><a href="{% url 'project_view' trigger.project.organisation.id trigger.project.id %}">{{trigger.project}}</a></td>
                <td>{{trigger.silence_interval}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>


    <div class="pull-right">
      <div class="btn-group">
        {% if triggers.has_previous %}
          <a href="#" onclick="changePage('{{ triggers.previous_page_number }}')"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button></a>
        {% endif %}
        <span class="current">
            Page {{ triggers.number }} of {{ triggers.paginator.num_pages }}.
        </span>
        {% if triggers.has_next %}
          <a href="#" onclick="changePage('{{triggers.next_page_number}}')"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button></a>
        {% endif %}

      </div>
      <!-- /.btn-group -->
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
