{% extends "global_layout.html" %}

{% block content_body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {% if view %}
      View Trigger
      {% elif edit %}
      Edit Trigger
      {% else %}
      Add Trigger
      {% endif %}
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Notifications</a></li>
      <li><a href="{% url 'trigger_list' %}">Triggers</a></li>
      {% if view %}
      <li class="active"><a href="{% url 'trigger_view' trigger.id %}">View Trigger</a></li>
      {% elif edit %}
      <li class="active"><a href="{% url 'trigger_edit' trigger.id %}">Edit Trigger</a></li>
      {% else %}
      <li class="active"><a href="{% url 'trigger_create' %}">Add Trigger</a></li>
      {% endif %}
    </ol>
  </section>
    <section class="item-content">
      <div class="row">
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-danger">
            <div class="box-header with-border">
              {% if view or edit %}
                <h3 class="box-title">{{trigger.name}}</h3>
              {% else %}
                <h3 class="box-title">Add Trigger</h3>
              {% endif %}

              {% if view %}
                <a href="{% url 'trigger_edit' trigger.id %}" class="pull-right create-project btn-create"><i class="glyphicon glyphicon-pencil pdr10"></i>Edit Trigger info</a>
              {% endif %}
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{% if edit %} {% url 'trigger_edit' trigger.id %} {% else %} {% url 'trigger_create' %} {% endif %}" method="post">
            {% csrf_token %}
            <div class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="name" class="col-sm-3 control-label">Name</label>
                  <div class="col-sm-9">
                  <input {% if form.name.errors %} style="border:1px solid #ff0000" placeholder="Please enter name" {% else %} placeholder="Name" {% endif %} type="text" class="form-control" id="name"  name="name" value="{% if form.name.value %}{{form.name.value}}{% endif %}" {% if view %} disabled="True" {% endif %}>
                </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Action</label>
                  <div class="col-sm-9">
                    <select {% if form.Action.errors %} style="border:1px solid #ff0000" {% endif %} class="form-control" id="Action" name="Action" {% if view %} disabled="true" {% endif %} required>
                    {% for aid,aname in form.fields.Action.choices %}
                      <option value="{{aid}}" {% if form.Action.value == aid or form.Action.value == aid|slugify %} selected {% endif %}>{{aname}}</option>
                    {% endfor %}
                  </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Type</label>
                  <div class="col-sm-9">
                    <select {% if form.Type.errors %} style="border:1px solid #ff0000" {% endif %} class="form-control" id="Type" name="Type" {% if view %} disabled="true" {% endif %} required>
                    {% for tid,tname in form.fields.Type.choices %}
                      <option value="{{tid}}" {% if form.Type.value == tid or form.Type.value == tid|slugify %} selected {% endif %}>{{tname}}</option>
                    {% endfor %}
                  </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Project</label>
                  <div class="col-sm-9">
                    <select {% if form.project.errors %} style="border:1px solid #ff0000" {% endif %} class="form-control" id="project" name="project" {% if view %} disabled="true" {% endif %} required>
                    {% for pid,pname in form.fields.project.choices %}
                      <option value="{{pid}}" {% if form.project.value == pid or form.project.value == pid|slugify %} selected {% endif %}>{{pname}}</option>
                    {% endfor %}
                  </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="silence_interval" class="col-sm-3 control-label">Silence Interval</label>
                  <div class="col-sm-9">
                    <input {% if form.silence_interval.errors %} style="border:1px solid #ff0000" placeholder="Please enter Silence Interval in seconds" {% else %} placeholder="Silence Interval in seconds" {% endif %} type="text" class="form-control" id="silence_interval"  name="silence_interval" value="{% if form.silence_interval.value %}{{form.silence_interval.value}}{% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>

    <div class="box-footer">
      {% if edit %}
      <input type="submit" name="Update" class="pull-right save" value="Update">
      {% elif not view %}
      <input type="submit" name="Create" class="pull-right save" value="Create">
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}