.login-logo h1 {
  margin: 0;
  padding: 15px;
  background-color: #353535;
  color: #ffffff;
  border-radius: 6px 6px 0 0;
  font-size: 30px;
  font-weight: 700; }

.btn-submit {
  transition: all 0.4s ease; }
  .btn-submit:hover {
    background-color: #353535; }

.register-logo h1 {
  margin: 0;
  padding: 15px;
  background-color: #353535;
  color: #ffffff;
  border-radius: 6px 6px 0 0;
  font-size: 30px;
  font-weight: 700; }

.btn-submit {
  transition: all 0.4s ease; }
  .btn-submit:hover {
    background-color: #353535; }

/*# sourceMappingURL=style.css.map */
