{% extends 'global_layout.html' %}
{% load sidebar_incident %}
{% block content_body %}
  <script language="JavaScript">
        function toggle(source) {
          checkboxes = document.getElementsByName('incident_selected');
          for(var i=0, n=checkboxes.length;i<n;i++) {
          checkboxes[i].checked = source.checked;
          }
        }

        function performAction(action){
          var params = getUrlVars();
          var incidents = [];
          checkboxes = document.getElementsByName('incident_selected');
          for(var i=0;i<checkboxes.length;i++){
            if(checkboxes[i].checked){
              incidents.push(checkboxes[i].value);
            }
          }
          params['action'] = action;
          if(action=='Delete'){
            if(confirm('Are you sure?')){
              window.location.href = window.location.origin + "/incident/action?incidents="+incidents+"&"+$.param(params);
            }
          }else{
            window.location.href = window.location.origin + "/incident/action?incidents="+incidents+"&"+$.param(params);

          }
        }

        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
                    function (m, key, value) {
                        vars[key] = value;
                    });
            return vars;
        }

        function filterOnProject(source) {
          var params = getUrlVars();
          if(source.value){
            params['project'] = source.value;
          }else{
            delete params.project;
          }
          window.location.href = window.location.href.split("?")[0] + "?" + $.param(params);
        }

        function filterOnState(source){
          var params = getUrlVars();
          if(source){
            params['state'] = source;
          }else{
            delete params.state;
          }
          window.location.href = window.location.href.split("?")[0] + "?" + $.param(params);
        }

        function changePage(page) {
          var params = getUrlVars();
          params['page'] = page;
          window.location.href = window.location.href.split("?")[0] + "?" + $.param(params);
        }

  </script>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Incidents
        <small>{{incidents|length}} total</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Incidents</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Categories</h3>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li {% if not request.GET.state %} class="active" {% endif %} ><a href="#" onclick='filterOnState()'>All<span class="label label-primary pull-right">{% count_all_incident request %}</span></a></li>
                <li {% if request.GET.state == 'Triggered' %} class="active" {% endif %} ><a href="#" onclick="filterOnState('Triggered')">Triggered<span class="label label-primary pull-right">{% count_triggered_incident_local request %}</span></a></li>
                <li {% if request.GET.state == 'Resolved' %} class="active" {% endif %} ><a href="#" onclick="filterOnState('Resolved')">Resolved<span class="label label-primary pull-right">{% count_resolved_incident request %}</span></a></li>
                <li {% if request.GET.state == 'Acknowledged' %} class="active" {% endif %} ><a href="#" onclick="filterOnState('Acknowledged')">Acknowledged<span class="label label-primary pull-right">{% count_acknowledged_incident request %}</span></a></li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Incidents</h3>

              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <span title="Select All"><input type="checkbox" onClick="toggle(this)"></span>
                <select onchange="filterOnProject(this)">
                  <option value="">----Select Project----</option>
                  {% for project in projects %}
                    <option value="{{project.id}}" {% if request.GET.project == project.id|slugify %} selected {% endif %}>{{project.name}}</option>
                  {% endfor %}
                </select>
                <div class="btn-group">
                  <a class="btn btn-danger btn-sm" href="#" onclick="performAction('Delete')">Delete</a>
                  <a class="btn btn-info btn-sm" href="#" onclick="performAction('Acknowledge')">Acknowledge</a>
                  <a class="btn btn-success btn-sm" href="#" onclick="performAction('Resolve')">Resolve</a>
                </div>
                <!-- /.btn-group -->
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                  {% for incident in incidents %}
                    <tr>
                      <td><input type="checkbox" name="incident_selected" value="{{incident.guid}}"></td>
                      <td class="mailbox-name">{{incident.project.name}}</td>
                      <td class="mailbox-subject">{{incident.details}}</td>
                      {% if incident.state == 'Resolved' %}
                      <td><span class="label label-success">{{incident.state}}</span></td>
                      {% elif incident.state == 'Triggered'%}
                      <td><span class="label label-danger">{{incident.state}}</span></td>
                      {% elif incident.state == 'Acknowledged' %}
                      <td><span class="label label-info">{{incident.state}}</span></td>
                      {% endif %}
                      <td class="mailbox-date">{{incident.created_at}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
          </div>

      <div class="row">
        <div class="pull-right">
          <div class="btn-group">
            {% if incidents.has_previous %}
              <a href="#" onclick="changePage('{{ incidents.previous_page_number }}')" class="addRequest"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button></a>
            {% endif %}
            <span class="current">
                Page {{ incidents.number }} of {{ incidents.paginator.num_pages }}.
            </span>
            {% if incidents.has_next %}
              <a href="#" onclick="changePage('{{incidents.next_page_number}}')" class="addRequest"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button></a>
            {% endif %}

          </div>
          <!-- /.btn-group -->
        </div>
      </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
