{% extends 'global_layout.html' %}

{% block content_body %}
<!-- Content Wrapper. Contains page content -->
<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('project_selected');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
  check();
}
function check(){
  checkboxes =document.getElementsByName('project_selected');
  var result=true
  for(var i=0;i<checkboxes.length;i++)
  {
    if(checkboxes[i].checked){
      result=false;
      break;
    }

  }
  document.getElementById('delete').disabled=result
}
</script>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Organisation {{org}}
    </h1>
    <ol class="breadcrumb">
    <li class="active"><a href="{% url "dashboard" %}"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Organisation</a></li>
    <li class="active"><a href="{% url "project_list" org=org.id %}">{{org}}</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <form method="post" action="/projects/delete/">
    {% csrf_token %}
    <input type="hidden" name="org" value="{{ org }}" />
    <section class="content">

      <div class="row">
        <div class="col-xs-12">
          <div class="box box-success">
            <div class="box-header">
              <h3 class="box-title"></h3>

              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
              <br>
              <br>
              <div >
                <a href="{% url 'project_create' org=org.id %}" class="pull-right btn-create"><i class="glyphicon glyphicon-plus pdr10"></i>Create a new project</a>
              </div>
              <div class="mailbox-controls mgt10">
                <!-- Check all button -->

                <div class="btn-group">
                  <span title="Delete">
                    <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-default btn-sm" id='delete' disabled><i class="fa fa-trash-o"></i></button>
                  </span>
                </div>



                <!-- /.pull-right -->
              </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th class="check"><span title="Select All"><input type="checkbox" onClick="toggle(this)"></span></th>
                  <th>Project Name</th>
                  <th>Users</th>
                  <th>Inventory</th>
                  <th>Regions</th>
                </tr>
                {% for project in projects %}
                <tr>
                  <td class="check"><input type="checkbox" name="project_selected" value="{{ project.id }}" onclick="check()"></td>
                  <td><a href="{% url 'project_view' org=org.id project=project.id %}">{{project}}</a></td>
                  <td><a href="{% url 'project_user' org=org.id project=project.id %}" target="_blank" >View Users</a></td>
                  <td><a href="{% url 'inventory_view' org=org.id project=project.id  %}" target="_blank" >View Inventory</a></td>
                  <td><a href="{% url 'region_list' org=org.id project=project.id  %}" target="_blank" >View Regions</a></td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

      <div class="row">
        <div class="pull-right">
          <div class="btn-group">
            {% if projects.has_previous %}
              <a href="?page={{ projects.previous_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button></a>
            {% endif %}
            <span class="current">
                Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
            </span>
            {% if projects.has_next %}
              <a href="?page={{ projects.next_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button></a>
            {% endif %}

          </div>
          <!-- /.btn-group -->
        </div>
      </div>

      <!-- Modal -->

    </section>
  </form>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock %}
