{% extends 'global_layout.html' %}

{% block content_body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Organisation {{org.name}}
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Organisation</a></li>
        <li><a href="{% url 'project_list' org=org.id %}">Project</a></li>
        {% if view or edit %}
        <li class="active">{{ project.name }}</li>
        {% else %}
        <li class="active">Add Project</li>
        {% endif %}

      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-danger">
            <div class="box-header with-border">
              {% if view or edit %}
              <h3 class="box-title">{{project.name}}</h3>
              {% else %}
              <h3 class="box-title">Add Project</h3>
              {% endif %}

              {% if view %}
              <a href="{% url 'project_edit' org=org.id project=project.id %}" class="pull-right create-project btn-create"><i class="glyphicon glyphicon-pencil pdr10"></i>Edit Project info</a>
              {% endif %}
            </div>

            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{% if edit %} {% url 'project_edit' org=org.id project=project.id %} {% else %} {% url 'project_create' org=org.id %} {%endif%}" method="post">
              {% csrf_token %}
              <div class="box-body">

                <div class="form-group">
                  <label for="name" class="col-sm-3 control-label">Name</label>
                  <div class="col-sm-9">
                    <input {% if form.name.errors %} style="border:1px solid #ff0000" placeholder="Please enter name" {% else %} placeholder="Name" {%endif%} type="text" class="form-control" id="name"  name="name" value="{% if form.name.value %} {{form.name.value}} {% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="organisation" class="col-sm-3 control-label">Organisation</label>
                  <div class="col-sm-9">
                  <select id="organisations" name="organisations" disabled="True" class="form-control">
                  <option value="{{org.id}}">{{org}}</option>
                </select>
                <select id="organisation" name="organisation" style="display:none;">
                <option value="{{org.id}}" >{{org}}</option>
              </select>
                </div>
              </div>

                <div class="form-group">
                  <div class="col-sm-3">
                  <label class="control-label">Select Users.</label>
                  <br>
                  <span class="control-label">Please don't exclude your self. Project is created only for selected user</span>
                </br>
                </div>
                  <div class="col-sm-9">
                    <select multiple="multiple" id="select-multiple" name="users" class="form-control" {% if view %} disabled="True" {% endif %} required>
                      {% for uid,uname in form.fields.users.choices %}
                        <option value="{{ uid }}" {% if uid in form.users.value or uid == request.user.user.id %} selected {% endif %}>{{uname}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="aws_access_key_id" class="col-sm-3 control-label">Aws access key id</label>

                  <div class="col-sm-9">
                    <input type="text" {% if form.aws_access_key_id.errors %} style="border:1px solid #ff0000" placeholder="Please enter Aws access key id" {% else %} placeholder="Aws access key id" {%endif%} class="form-control" id="aws_access_key_id" name="aws_access_key_id" value="{% if form.aws_access_key_id.value %} {{form.aws_access_key_id.value}} {% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="aws_secret_access_key" class="col-sm-3 control-label">Aws secret access key</label>

                  <div class="col-sm-9">
                    <input type="text" {% if form.aws_secret_access_key.errors %} style="border:1px solid #ff0000" placeholder="Please enter Aws secret access key" {% else %} placeholder="Aws secret access key" {%endif%} class="form-control" id="aws_secret_access_key"  name="aws_secret_access_key" value="{% if form.aws_secret_access_key.value %} {{form.aws_secret_access_key.value}} {% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="notification_from" class="col-sm-3 control-label">Notification from email address</label>

                  <div class="col-sm-9">
                    <input type="text" {% if form.notification_from_email_address.errors %} style="border:1px solid #ff0000" placeholder="Please enter Notification from email address" {% else %} placeholder="Notification from email address" {%endif%} class="form-control" id="notification_from"  name="notification_from_email_address" value="{% if form.notification_from_email_address.value %} {{form.notification_from_email_address.value}} {% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="notification_to" class="col-sm-3 control-label">Notification to email address</label>

                  <div class="col-sm-9">
                    <input type="text" {% if form.notification_to_email_address.errors %} style="border:1px solid #ff0000" placeholder="Please enter Notification to email address" {% else %} placeholder="Notification to email address" {%endif%} class="form-control" id="notification_to"  name="notification_to_email_address" value="{% if form.notification_to_email_address.value %} {{form.notification_to_email_address.value}} {% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="mail_service_api_key" class="col-sm-3 control-label">Mail Service Api Key</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="mail_service_api_key" placeholder="Mail Service Api Key" name="mail_service_api_key" value="{% if form.mail_service_api_key.value %} {{form.mail_service_api_key.value}} {% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>
                <div class="form-group">
                  <label for="pager_duty_api_key" class="col-sm-3 control-label">Pager Duty Api Key</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="pager_duty_api_key" placeholder="Pager Duty Api Key" name="pager_duty_api_key" value="{% if form.pager_duty_api_key.value %} {{form.pager_duty_api_key.value}} {% endif %}" {% if view %} disabled="True" {% endif %}>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              {% if edit %}
              <div class="box-footer">
                <button type="submit" class="pull-right save">Update</button>
              </div>
              {% elif not view %}
              <div class="box-footer">
                <button type="submit" class="pull-right save">Create</button>
              </div>
              {% endif %}
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
