  {% extends 'global_layout.html' %}

  {% block content_body %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{project}}
      </h1>
      <ol class="breadcrumb">
        <li class="active"><a href="{% url "dashboard" %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Organisation</a></li>
        <li class="active"><a href="{% url "project_list" org=org.id %}">{{org}}</a></li>
        <li class="active">{{project}}</li>
        <li class="active">users</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

       <div class="row">
        <div class="col-xs-12">
          <div class="box box-success">
            <div class="box-header">
              <h3 class="box-title"> <a href="{% url 'project_user' org=org.id project=project.id %}" target="_blank" ><i class="glyphicon glyphicon-user"></i></a></h3>

              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>


            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>UserName</th>
                  <th>Email</th>
                  <th>Phone</th>
                </tr>
                {% for user in users %}
                <tr>
                  <td>{{user|capfirst}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.phone}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <div class="mailbox-controls mgt10">
            <div class="pull-right">
              <div class="btn-group">
                {% if users.has_previous %}
                    <a href="?page={{ users.previous_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button></a>
                  {% endif %}
                  <span class="current">
                      Page {{ users.number }} of {{ users.paginator.num_pages }}.
                  </span>
                  {% if users.has_next %}
                    <a href="?page={{ users.next_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button></a>
                  {% endif %}
              </div>
            </div>
            <!-- /.pull-right -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}
