{% extends 'global_layout.html' %}

{% block content_body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Inventory - <small> Applications </small>
    </h1>
    <ol class="breadcrumb">
      <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Inventory</a></li>
      <li class="active">Applications</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

     <div class="row">
      <div class="col-xs-12">
        <div class="box box-success">
          <div class="box-header">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
              <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>

          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th>Name</th>
                <th>Port</th>
                <th>Application server used</th>
                <th>Host</th>
                <th>Fqdn</th>
                <th>Monitoring URL</th>
                <th>URL Secure</th>
                <th>Updated At</th>
              </tr>
              {% for app in apps %}
              <tr>
                <td style="color: #800000">{{app.name|capfirst}}</td>
                <td>{{app.port}}</td>
                <td>{{app.application_server_used|capfirst}}</td>
                <td>{{app.host.name|capfirst}}</td>
                <td>{{app.fqdn}}</td>
                <td><a href="#">{{app.monitoring_url}}</a></td>
                <td>{% if app.monitoring_url_secure %}<i class="glyphicon glyphicon-ok" style="color: green;"></i><a href="{%url 'secure_url' id=app.id %}"><i class="glyphicon glyphicon-remove" style="color: black;"></i></a>
                    {% else %}<a href="{%url 'secure_url' id=app.id %}"><i class="glyphicon glyphicon-ok" style="color: black;"></i></a><i class="glyphicon glyphicon-remove" style="color: red;"></i>{%endif%}</td>
                <td>{{app.updated_at}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <div class="col-md-13">
      <div class="btn-group">
        {% if apps.has_previous %}
          <a href="?page={{ apps.previous_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button></a>
        {% endif %}
        <span class="current">
            Page {{ apps.number }} of {{ apps.paginator.num_pages }}.
        </span>
        {% if apps.has_next %}
          <a href="?page={{ apps.next_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button></a>
        {% endif %}

      </div>

  </section>
  <!-- /.content -->
</div>
{% endblock %}
