{% extends 'global_layout.html' %}

{% block content_body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Inventory
        <small>{{ hosts.paginator.count }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Inventory</li>
        {% if org and project %}
        <li class="active">{{project.name}}</li>
        {%endif%}
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <!-- /.box -->

          <div class="box box-danger">
            <div class="box-header">
              {% if org and project %}
              <h3 class="box-title">Summary-{{project.name}}</h3>
              {%endif%}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Host Name</th>
                  <th>Host Id</th>
                  <th>Region</th>
                  <th>IP</th>
                  <th>Environment</th>
                  <th>Applications</th>
                  <th>Services</th>
                </tr>
                </thead>
                <tbody>
                  {% for host in hosts %}
                  <tr>
                    <td>{{host.name}}</td>
                    <td>{{host.aws_id}}</td>
                    <td>{{host.region}}</td>
                    <td>{{host.ip}}</td>
                    <td>{{host.env}}</td>
                    <td><a href="{% url 'application_view' org=host.region.project.organisation.id project=host.region.project.id host=host.id  %}" target="_blank">View Applications</a></td>
                    <td><a href="host_services.html" target="_blank">View Services</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

      </div>
      <div class="col-md-13">
        <div class="btn-group">
          {% if hosts.has_previous %}
            <a href="?page={{ hosts.previous_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button></a>
          {% endif %}
          <span class="current">
              Page {{ hosts.number }} of {{ hosts.paginator.num_pages }}.
          </span>
          {% if hosts.has_next %}
            <a href="?page={{ hosts.next_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button></a>
          {% endif %}

        </div>
      <!-- /.row -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% endblock %}
