{% extends 'global_layout.html' %}

{% block content_body %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    {% if edit %}
    <h1>
      Edit Region
    </h1>
    {% elif view %}
    <h1>
      Region details
    </h1>
    {% else %}
    <h1>
      Add Region
    </h1>
    {% endif %}
    {% if org and project %}
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Organisation</a></li>
      <li><a href="#">{{project.organisation.name}}</a></li>
      <li class="active">{{project}}</li>
      {% if view or edit%}
      <li>{{region.name}}</li>
      {% else %}
      <li>Add Region</li>
      {% endif %}
    </ol>
    {% else %}
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Inventory</a></li>
      <li><a href="#">Region</a></li>
      <li class="active">Add Region</li>
    </ol>
    {% endif %}
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-danger">
          <div class="box-header with-border">
            {% if view or edit %}
            <h3 class="box-title">{{ region.name|upper}}</h3>
            {%else%}
            <h3 class="box-title"></h3>
            {% endif %}
            {% if view %}
            <a href="{% url 'region_edit' org=org.id project=project.id region=region.id %}" class="pull-right create-project btn-create"><i class="glyphicon glyphicon-plus pdr10"></i>Edit Region info</a>
            {% endif %}
          </div>
          <!-- /.box-header -->
          <!-- form start -->

          <form method="post" action="{% if edit %} {% url 'region_edit' org=org.id project=project.id region=region.id %} {% elif org and project.id %}{% url 'region_create'  org=org project=project.id %} {% else %} {% url 'region_create' %} {% endif %}">
            {% csrf_token %}
            <div class="box-body">
              <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Name</label>

                <div class="col-sm-9">
                  <input type="text" class="form-control" id="name" placeholder="Name" name="name" value="{% if form.name.value %} {{form.name.value}} {% endif %}" {% if view %} disabled="True" {% endif %}>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Project</label>
                <div class="col-sm-9">
                  <select class="form-control" {% if org and project.id %}  name="project1" disabled {% else %}  name="project" {%endif%} {% if view %} disabled="True" {% endif %}>
                    {% if org and project.id %}
                      <option value="{{ project.id }}" selected >{{project.name}}</option>
                    {%else%}
                      {% for pid,pname in form.fields.project.choices %}
                        <option value="{{ pid }}" >{{pname}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                   {% if org and project.id %}
                  <select class="form-control"  name="project" style="display:none;">
                      <option value="{{ project.id }}" selected >{{project.name}}</option>

                  </select>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Region Code</label>
                <div class="col-sm-9">
                  <select class="form-control" name="region_code" {% if view %} disabled="True" {% endif %}>
                    {% for rid,rname in form.fields.region_code.choices %}
                      <option value="{{ rid }}" {% if rid in form.region_code.value  %} selected {% endif %}>{{rname}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              {% if view %}
              <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Update url hook</label>

                <div class="col-sm-9">
                  <input type="text" class="form-control" id="name" placeholder="Name" name="update_url_hook" disabled="True" value="{% if form.update_url_hook.value %} {{form.update_url_hook.value}} {% endif %}">
                </div>
              </div>
              {% endif %}
              {% if edit %}
              <div class="form-group" style="display:none;">
                <label for="name" class="col-sm-3 control-label">Update url hook</label>

                <div class="col-sm-9">
                  <input type="text" class="form-control" id="name" placeholder="Name" name="update_url_hook"  value="{% if form.update_url_hook.value %} {{form.update_url_hook.value}} {% endif %}">
                </div>
              </div>
              {% endif %}



            </div>
            <!-- /.box-body -->
            {% if edit %}
            <div class="box-footer">
              <button type="submit" class="pull-right save">Update</button>
            </div>
            {% elif not view %}
            <div class="box-footer">
              <button type="submit" class="pull-right save">Create</button>
            </div>
            {% endif %}
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->
      </div>
    </div>
    <!-- /.row -->
  </section>
  {{form.errors}}
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
