{% extends 'global_layout.html' %}

{% block content_body %}
<!-- Content Wrapper. Contains page content -->
<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('region_selected');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
  check();
}
function check(){
  checkboxes =document.getElementsByName('region_selected');
  var result=true
  for(var i=0;i<checkboxes.length;i++)
  {
    if(checkboxes[i].checked){
      result=false;
      break;
    }

  }
  document.getElementById('delete').disabled=result
}
</script>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Inventory - <small> Regions </small>
    </h1>
    <ol class="breadcrumb">
      <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Inventory</a></li>
      <li class="active">Region</li>
    </ol>
  </section>

  <!-- Main content -->
  <form method="post" action="{% url 'region_delete_refresh' %}">
    {% csrf_token %}
  <section class="content">
  <input type="hidden" name="org" value="{{ org }}" />
    <input type="hidden" name="project" value="{{ project.id }}" />
     <div class="row">
      <div class="col-xs-12">
        <div class="box box-success">
          <div class="box-header">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
              <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
            <br>
            <br>
              <div>
                <a href={% if org and project.id %}"{% url 'region_create'  org=org project=project.id %}" {% else %} "{% url 'region_create' %}" {% endif %}class="pull-right btn-create"><i class="glyphicon glyphicon-plus pdr10"></i>Create a new region</a>
              </div>
            <div class="mailbox-controls mgt10">
              <!-- Check all button -->

              <div class="btn-group">
                <button type="submit" name="action" value="delete" onclick="return confirm('Are you sure?')" class="btn btn-default btn-sm" id='delete' disabled><i class="fa fa-trash-o"></i></button>
              </div>
              <!-- /.btn-group -->
              <button type="submit" name="action" value="refresh" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>

              <!-- /.pull-right -->
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th class="check"><input type="checkbox" onClick="toggle(this)"></th>
                <th>Name</th>
                <th>Project</th>
                <th>Region Code</th>
                <th>Organisation</th>
                <th>Updated At</th>
              </tr>
              {% for region in regions %}
              <tr>
                <td class="check"><input type="checkbox" name="region_selected" value="{{ region.id }}" onclick="check()"></td>
                <td><a href="{% url 'region_view' org=region.project.organisation.id project=region.project.id region=region.id %}">{{region.name}}</a></td>
                <td><a href="{% url 'project_view' org=region.project.organisation.id project=region.project.id %}">{{region.project.name}}</td>
                <td>{{region.region_code}}</td>
                <td>{{region.project.organisation.name}}</td>
                <td>{{region.updated_at}}</td>
                <!-- <td><a href="#"><i class="glyphicon glyphicon-pencil"></i></a></td> -->
              </tr>
              {% endfor %}
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <div class="pull-right">
      <div class="btn-group">
        {% if regions.has_previous %}
          <a href="?page={{ regions.previous_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button></a>
        {% endif %}
        <span class="current">
            Page {{ regions.number }} of {{ regions.paginator.num_pages }}.
        </span>
        {% if regions.has_next %}
          <a href="?page={{ regions.next_page_number }}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button></a>
        {% endif %}

      </div>
      <!-- /.btn-group -->
    </div>
  </section>
    </form>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
