{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sleuth | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{% static "sleuth_static/bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
  <!-- font awesome -->
	<link rel="stylesheet" href="{% static "sleuth_static/bower_components/font-awesome/css/font-awesome.min.css" %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static "sleuth_static/bower_components/Ionicons/css/ionicons.min.css" %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static "sleuth_static/build/AdminLTE.css" %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static "sleuth_static/bower_components/iCheck/skins/square/blue.css" %}">
  <!--Custom CSS-->
  <link rel="stylesheet" href="{% static "sleuth_static/assets/css/style.css" %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <h1>Sleuth</h1>
  </div>
  <p class="login-box-msg">Sign in to start your session</p>
  <!-- /.login-logo -->
  <div class="login-box-body">

    {% if form.errors %}
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ form.non_field_errors }}
    </div>
    {% endif %}
    <form action="." method="post">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="UserName" name="username" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback" ></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat btn-submit">Sign In</button>
          {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- /.social-auth-links -->

    <a href="#">I forgot my password</a><br>
    <a href="{% url "registration_register" %}" class="text-center">Register</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 2.2.3 -->
<script src="{% static "sleuth_static/bower_components/jquery/dist/jquery.min.js" %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static "sleuth_static/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<!-- iCheck -->
<script src="{% static "sleuth_static/bower_components/iCheck/icheck.min.js" %}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
