{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Registration Page</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
   <link rel="stylesheet" href="{% static "sleuth_static/bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static "sleuth_static/bower_components/font-awesome/css/font-awesome.min.css"%}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static "sleuth_static/bower_components/Ionicons/css/ionicons.min.css" %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static "sleuth_static/build/AdminLTE.css" %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static "sleuth_static/bower_components/iCheck/skins/square/blue.css" %}">
  <!--Custom CSS-->
  <link rel="stylesheet" href="{% static "sleuth_static/assets/css/style.css" %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <h1>Sleuth</h1>
  </div>
  <p class="login-box-msg">Register</p>
  <div class="register-box-body">

    <form action="." method="post">
       {% csrf_token %}
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Organization Name" name="organization" required value="{% if request.POST %} {{request.POST.organization}} {% endif %}">
        <span class="glyphicon glyphicon-briefcase form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="UserName" name="username" value="{% if form.username.value %} {{form.username.value}} {% endif %}">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <span style="color: red">{{form.username.errors}}</span>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" name="email" value="{% if form.email.value %} {{form.email.value}} {% endif %}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <span style="color: red">{{form.email.errors}}</span>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" name="password1">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <span style="color: red">{{form.password1.errors}}</span>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Confirm password" name="password2">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <span style="color: red">{{form.password2.errors}}</span>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> I agree to the <a href="#">TnC's</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat btn-submit">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="{% url "login_view" %}" class="text-center">Login</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 2.2.3 -->
<script src="{% static "sleuth_static/bower_components/jquery/dist/jquery.min.js" %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static "sleuth_static/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<!-- iCheck -->
<script src="{% static "sleuth_static/bower_components/iCheck/icheck.min.js" %}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
