{% extends 'global_layout.html' %}
{% load staticfiles %}
{% load sidebar_incident %}

{% block content_body %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->


		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="{% static 'sleuth_static_dashboard/assets/css/fonts.googleapis.com.css' %}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{% static 'sleuth_static_dashboard/assets/css/ace.min.css' %}" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="{% static 'sleuth_static_dashboard/assets/css/ace-skins.min.css' %}" />
		<link rel="stylesheet" href="{% static 'sleuth_static_dashboard/assets/css/ace-rtl.min.css' %}" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="{% static 'sleuth_static_dashboard/assets/js/ace-extra.min.js' %}"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
<div class="content-wrapper">
		<div class="main-container ace-save-state" id="main-container">

			<div class="main-content">
				<div class="main-content-inner">


					<div class="page-content">

						<div class="page-header">
							<h1>
								Dashboard
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									overview &amp; stats
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="row">
									<div class="space-6"></div>

									<div class="col-sm-7 infobox-container">
										<div class="infobox infobox-green">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-sitemap green" aria-hidden="true"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number">{{organisations|length}}</span>
												<div class="infobox-content">Organisation{{ organisations|length|pluralize }}</div>
											</div>
										</div>

										<div class="infobox infobox-blue">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-tasks"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number">{{projects|length}}</span>
												<div class="infobox-content">Project{{ projects|length|pluralize }}</div>
											</div>
										</div>

										<div class="infobox infobox-pink">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-laptop"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number">{{hosts|length}}</span>
												<div class="infobox-content"><a href="{% url 'inventory_view'  %}">Host{{ hosts|length|pluralize }}</a></div>
											</div>
										</div>

										<div class="infobox infobox-red">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-cogs"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number">{{apps|length}}</span>
												<div class="infobox-content"><a href="{% url 'application_view'  %}">Application{{ apps|length|pluralize }}</a></div>
											</div>
										</div>



										<div class="space-6"></div>
										<a href="{% url 'apichecks_list'  %}">
										<div class="infobox infobox-green infobox infobox-dark">
											<div class="infobox-data">
												<div class="infobox-content">{{apichecks|length}}</div>
												<div class="infobox-content"><h4>API Check{{apichecks|length|pluralize}}</h4></div>
											</div>
										</div>
									</a>
									<a href="{% url 'cron_list' %}">
										<div class="infobox infobox-blue infobox infobox-dark">
											<div class="infobox-data">
												<div class="infobox-content">{{cronchecks|length}}</div>
												<div class="infobox-content"><h4>Cron Check{{cronchecks|length|pluralize}}</h4></div>
											</div>
										</div>
									</a>
									<a href="{% url 'item_list' %}">
										<div class="infobox infobox-orange infobox-medium infobox-dark">
											<div class="infobox-data">
												<div class="infobox-content">{{items|length}}</div>
												<div class="infobox-content"><h4>Item{{items|length|pluralize}}</h4></div>
											</div>
										</div>
									</a>


									</div>

									<div class="vspace-12-sm"></div>

									<div class="col-sm-5">
										<div class="widget-box">
											<div class="widget-header widget-header-flat widget-header-small">
												<h5 class="widget-title">
													<i class="ace-icon fa fa-bell-o"></i>
													<a href="{% url 'incident_list' %}">
													Incidents</a>
												</h5>

												<div class="widget-toolbar no-border">

												</div>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<div id="piechart-placeholder"></div>

													<div class="hr hr8 hr-double"></div>

													<div class="clearfix">
														<div class="grid3">
															<span class="grey">
																	<i class="ace-icon fa fa-exclamation-triangle red"></i>
																	<a href="/incident/list/?state=Triggered" >Triggered</a>
															</span>
															<h4 class="bigger pull-right">{% count_triggered_incident request%}</h4>
														</div>

														<div class="grid3">
															<span class="grey">

																<a href="/incident/list/?state=Acknowledged" >Acknowledged</a>
															</span>
															<h4 class="bigger pull-right">{% count_acknowledged_incident request%}</h4>
														</div>

														<div class="grid3">
															<span class="grey">
																<i class="ace-icon"></i>
																<a href="/incident/list/?state=Resolved" > Resolved </a>
															</span>
															<h4 class="bigger pull-right">{% count_resolved_incident request%}</h4>
														</div>
													</div>
												</div><!-- /.widget-main -->
											</div><!-- /.widget-body -->
										</div><!-- /.widget-box -->
									</div><!-- /.col -->
								</div><!-- /.row -->

								<div class="hr hr32 hr-dotted"></div>

								<div class="row">
									<div class="col-sm-5">
										<div class="widget-box transparent">
											<div class="widget-header widget-header-flat">
												<h4 class="widget-title lighter">
													<i class="ace-icon fa fa-star orange"></i>
													Top 5 Host based on number of Applications
												</h4>

												<div class="widget-toolbar">
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>
												</div>
											</div>

											<div class="widget-body">
												<div class="widget-main no-padding">
													<table class="table table-bordered table-striped">
														<thead class="thin-border-bottom">
															<tr>
																<th>
																	<i class="ace-icon fa fa-caret-right blue"></i>Host Name
																</th>

																<th>
																	<i class="ace-icon fa fa-caret-right blue"></i>No of Applications
																</th>

																<th class="hidden-480">
																	<i class="ace-icon fa fa-caret-right blue"></i>Project Name
																</th>
															</tr>
														</thead>

														<tbody>
															{% for host in top_hosts %}
															<tr>
																<td>{{host.name}}</td>

																<td>
																	<small>
																	<a href="{% url 'application_view' org=host.region.project.organisation.id project=host.region.project.id host=host.id  %}" target="_blank">	<span class="red">{{host.num_applications__host}}</span></a>
																	</small>
																</td>

																<td class="hidden-480">
																	<span class="label label-info arrowed-right arrowed-in">{{host.region.project.name}}</span>
																</td>
															</tr>
															{% endfor %}
														</tbody>
													</table>
												</div><!-- /.widget-main -->
											</div><!-- /.widget-body -->
										</div><!-- /.widget-box -->
									</div><!-- /.col -->


								</div><!-- /.row -->

								<div class="hr hr32 hr-dotted"></div>

							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
</div>
		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="{% static 'sleuth_static_dashboard/assets/js/jquery-2.1.4.min.js' %}"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{% static 'sleuth_static_dashboard/assets/js/jquery.mobile.custom.min.js' %}'>"+"<"+"/script>");
		</script>


		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="{% static 'sleuth_static_dashboard/assets/js/jquery-ui.custom.min.js' %}"></script>
		<script src="{% static 'sleuth_static_dashboard/assets/js/jquery.ui.touch-punch.min.js' %}"></script>
		<script src="{% static 'sleuth_static_dashboard/assets/js/jquery.easypiechart.min.js' %}"></script>
		<script src="{% static 'sleuth_static_dashboard/assets/js/jquery.sparkline.index.min.js' %}"></script>
		<script src="{% static 'sleuth_static_dashboard/assets/js/jquery.flot.min.js' %}"></script>
		<script src="{% static 'sleuth_static_dashboard/assets/js/jquery.flot.pie.min.js' %}"></script>
		<script src="{% static 'sleuth_static_dashboard/assets/js/jquery.flot.resize.min.js' %}"></script>

		<!-- ace scripts -->
		<script src="{% static 'sleuth_static_dashboard/assets/js/ace-elements.min.js' %}"></script>
		<script src="{% static 'sleuth_static_dashboard/assets/js/ace.min.js' %}"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
				$('.easy-pie-chart.percentage').each(function(){
					var $box = $(this).closest('.infobox');
					var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
					var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
					var size = parseInt($(this).data('size')) || 50;
					$(this).easyPieChart({
						barColor: barColor,
						trackColor: trackColor,
						scaleColor: false,
						lineCap: 'butt',
						lineWidth: parseInt(size/10),
						animate: ace.vars['old_ie'] ? false : 1000,
						size: size
					});
				})

				$('.sparkline').each(function(){
					var $box = $(this).closest('.infobox');
					var barColor = !$box.hasClass('infobox-dark') ? $box.css('color') : '#FFF';
					$(this).sparkline('html',
									 {
										tagValuesAttribute:'data-values',
										type: 'bar',
										barColor: barColor ,
										chartRangeMin:$(this).data('min') || 0
									 });
				});


			  //flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
			  //but sometimes it brings up errors with normal resize event handlers
			  $.resize.throttleWindow = false;

			  var placeholder = $('#piechart-placeholder').css({'width':'90%' , 'min-height':'150px'});
			  var data = [
					{ label: "Triggered",  data: "{% count_triggered_incident request%}", color: "#d73925"},
					{ label: "Acknowledge",  data: "{% count_acknowledged_incident request%}", color: "#00acd6"},
					{ label: "Resolved",  data: "{% count_resolved_incident request%}", color: "#00a65a"}
			  ]
			  function drawPieChart(placeholder, data, position) {
			 	  $.plot(placeholder, data, {
					series: {
						pie: {
							show: true,
							tilt:0.8,
							highlight: {
								opacity: 0.25
							},
							stroke: {
								color: '#fff',
								width: 2
							},
							startAngle: 2
						}
					},
					legend: {
						show: true,
						position: position || "ne",
						labelBoxBorderColor: null,
						margin:[-30,15]
					}
					,
					grid: {
						hoverable: true,
						clickable: true
					}
				 })
			 }
			 drawPieChart(placeholder, data);

			 /**
			 we saved the drawing function and the data to redraw with different position later when switching to RTL mode dynamically
			 so that's not needed actually.
			 */
			 placeholder.data('chart', data);
			 placeholder.data('draw', drawPieChart);


			  //pie chart tooltip example
			  var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
			  var previousPoint = null;

			  placeholder.on('plothover', function (event, pos, item) {
				if(item) {
					if (previousPoint != item.seriesIndex) {
						previousPoint = item.seriesIndex;
						var tip = item.series['label'] + " : " + Math.round(item.series['percent'])+'%';
						$tooltip.show().children(0).text(tip);
					}
					$tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
				} else {
					$tooltip.hide();
					previousPoint = null;
				}

			 });

				/////////////////////////////////////
				$(document).one('ajaxloadstart.page', function(e) {
					$tooltip.remove();
				});




				var d1 = [];
				for (var i = 0; i < Math.PI * 2; i += 0.5) {
					d1.push([i, Math.sin(i)]);
				}

				var d2 = [];
				for (var i = 0; i < Math.PI * 2; i += 0.5) {
					d2.push([i, Math.cos(i)]);
				}

				var d3 = [];
				for (var i = 0; i < Math.PI * 2; i += 0.2) {
					d3.push([i, Math.tan(i)]);
				}


				var sales_charts = $('#sales-charts').css({'width':'100%' , 'height':'220px'});
				$.plot("#sales-charts", [
					{ label: "Domains", data: d1 },
					{ label: "Hosting", data: d2 },
					{ label: "Services", data: d3 }
				], {
					hoverable: true,
					shadowSize: 0,
					series: {
						lines: { show: true },
						points: { show: true }
					},
					xaxis: {
						tickLength: 0
					},
					yaxis: {
						ticks: 10,
						min: -2,
						max: 2,
						tickDecimals: 3
					},
					grid: {
						backgroundColor: { colors: [ "#fff", "#fff" ] },
						borderWidth: 1,
						borderColor:'#555'
					}
				});


				$('#recent-box [data-rel="tooltip"]').tooltip({placement: tooltip_placement});
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('.tab-content')
					var off1 = $parent.offset();
					var w1 = $parent.width();

					var off2 = $source.offset();
					//var w2 = $source.width();

					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}


				$('.dialogs,.comments').ace_scroll({
					size: 300
			    });


				//Android's default browser somehow is confused when tapping on label which will lead to dragging the task
				//so disable dragging when clicking on label
				var agent = navigator.userAgent.toLowerCase();
				if(ace.vars['touch'] && ace.vars['android']) {
				  $('#tasks').on('touchstart', function(e){
					var li = $(e.target).closest('#tasks li');
					if(li.length == 0)return;
					var label = li.find('label.inline').get(0);
					if(label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation() ;
				  });
				}

				$('#tasks').sortable({
					opacity:0.8,
					revert:true,
					forceHelperSize:true,
					placeholder: 'draggable-placeholder',
					forcePlaceholderSize:true,
					tolerance:'pointer',
					stop: function( event, ui ) {
						//just for Chrome!!!! so that dropdowns on items don't appear below other items after being moved
						$(ui.item).css('z-index', 'auto');
					}
					}
				);
				$('#tasks').disableSelection();
				$('#tasks input:checkbox').removeAttr('checked').on('click', function(){
					if(this.checked) $(this).closest('li').addClass('selected');
					else $(this).closest('li').removeClass('selected');
				});


				//show the dropdowns on top or bottom depending on window height and menu position
				$('#task-tab .dropdown-hover').on('mouseenter', function(e) {
					var offset = $(this).offset();

					var $w = $(window)
					if (offset.top > $w.scrollTop() + $w.innerHeight() - 100)
						$(this).addClass('dropup');
					else $(this).removeClass('dropup');
				});

			})
		</script>
	</body>
	{% endblock %}
