{% load staticfiles %}
{% load sidebar %}
{% load sidebar_incident %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sleuth Admin</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{% static 'sleuth_static/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'sleuth_static/bower_components/font-awesome/css/font-awesome.min.css' %}">
  <!-- Ionicons -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"> -->
  <link rel="stylesheet" href="{% static 'sleuth_static/bower_components/Ionicons/css/ionicons.min.css' %}">
  <!--DataTables-->
  <link rel="stylesheet" href="{% static 'sleuth_static/bower_components/datatables/media/css/dataTables.bootstrap.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'sleuth_static/build/AdminLTE.css' %}">
  <!-- AdminLTE Skins.-->
  <link rel="stylesheet" href="{% static 'sleuth_static/build/skins/_all-skins.min.css' %}">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'sleuth_static/assets/css/style.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="{% url 'dashboard' %}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>S</b>A</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Sleuth</b>Admin</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></   span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{% static 'sleuth_static/assets/img/user.jpg' %}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{request.user|upper}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{% static 'sleuth_static/assets/img/user.jpg' %}" class="img-circle" alt="User Image">

                <p>
                  {{request.user|upper}}
                  <small>Web Developer - Intelligrape</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="{% url 'auth_logout' %}" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static 'sleuth_static/assets/img/user.jpg' %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{request.user|upper}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        {% if view != 1 %}
        <li class="treeview">
        <a href="{% url 'dashboard' %}">
           <i class="fa fa-home"></i>
           <span>Dashboard</span>
          </a>
       </li>
       {%endif%}
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>organisation</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% show_sidebar request as organisation %}
            {% for org in organisation  %}
              <li><a href="{% url 'project_list' org=org.id %}"><i class="fa fa-circle-o"></i> {{org}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Inventory</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'application_view'  %}"><i class="fa fa-circle-o"></i> Applications</a></li>
            <li><a href="{% url 'inventory_view'  %}"><i class="fa fa-circle-o"></i> Hosts</a></li>
            <li><a href="{% url 'region_list'  %}"><i class="fa fa-circle-o"></i> Regions</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Services</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Monitoring</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'apichecks_list'  %}"><i class="fa fa-circle-o"></i> API_checks</a></li>
            <li><a href="{% url 'cron_list' %}"><i class="fa fa-circle-o"></i> Cron_checks</a></li>
            <li><a href="{% url 'item_list' %}"><i class="fa fa-circle-o"></i> Items</a></li>
            <li><a href="{% url 'scenarios_list' %}"><i class="fa fa-circle-o"></i> Scenarios</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Values</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Notifications</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'action_list' %}"><i class="fa fa-circle-o"></i> Actions</a></li>
            <li><a href="{% url 'trigger_list' %}"><i class="fa fa-circle-o"></i> Triggers</a></li>
          </ul>
        </li>
         <li class="treeview">
         <a href="{% url 'incident_list' %}">
            <i class="fa fa-bell"></i>
            <span>Incidents</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">{% count_triggered_incident request %}</span>
            </span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
        {% block content_body %}

        {% endblock %}
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <strong>Copyright &copy; 2016 <a href={% url "dashboard" %}>Sleuth</a>.</strong> All rights
    reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="{% static 'sleuth_static/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'sleuth_static/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'sleuth_static/bower_components/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'sleuth_static/assets/js/app.min.js' %}"></script>
<!-- Page script -->
<script>
$(function () {
   $("#example1").DataTable();
   $('#example2').DataTable({
     "paging": true,
     "lengthChange": false,
     "searching": false,
     "ordering": true,
     "info": true,
     "autoWidth": false
   });
   $('#example1_length').children('label').html('Filter By:  <select name="example1_length" aria-controls="example1" class="form-control input-sm"><option value="host_id">Host ID</option><option value="region">Region</option><option value="ip">IP</option><option value="env">Environment</option></select>');
 });
</script>
</body>
</html>
